/* Ghostbusters CTE Kanka.io sitewide CSS */
/* Version 2.0 */

body {
  background-color: lightgray;
}

.gm_note {
  margin-left: 40px;
  width: 80%;
  border: 2px solid;
  padding: 0px 5px 0px 5px;
}

.entrysidebarright {
  width: 30%;
  float: right;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-left: 3px solid;
}

.entrysidebarleft {
  width: 30%;
  float: left;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-right: 3px solid;
}

.level0 {
  margin-left: 0px;
}

.level1 {
  margin-left: 20px;
}

.level2 {
  margin-left: 40px;
}

.level3 {
  margin-left: 60px;
}

.level4 {
  margin-left: 80px;
}

.level5 {
  margin-left: 100px;
}

.talents_table {
  width: 400px;
  border: 4px solid;
}

.talents_table td {
  width: 33%;
}