/* Ghostbusters CTE Character Sheet Notes CSS */
/* Version 2.0 */

/* This has been separated from the main CSS for readability / maintainability.
	It will need to be copied into the main CSS when used with sites like kanka.io */

.GBCTE .notes {
    grid-area: notes;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "the_notes";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    /*border-bottom: 15px double var(--gb_border_color_1);*/
}

.GBCTE .the_notes {
    grid-area: the_notes;
}

