/* Ghostbusters CTE Character Sheet Traits_n_Talents CSS */
/* Version 2.0 */

/* This has been separated from the main CSS for readability / maintainability.
	It will need to be copied into the main CSS when used with sites like kanka.io */

.GBCTE .traits_n_talents {
    grid-area: traits_n_talents;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "traits talents";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    border-bottom: 5px solid var(--gb_border_color_1);
}

/********* ********************************************************\
*    T  R A I T S                                                                                                        *
\******************************************************************/

.GBCTE .traits {
    grid-area: traits;
    display: grid;
    justify-content: center;
    align-content: start;
    grid-template-columns: 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "traits_header"
        "traits_table";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.GBCTE .traits_header {
    grid-area: traits_header;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--gb_border_color_2);
}

.GBCTE .traits_table {
    grid-area: traits_table;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "brains brains_val"
        "muscles muscles_val"
        "moves moves_val"
        "cool cool_val"
        "line line"
        "power power_val";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.GBCTE .brains {
    grid-area: brains;
}

.GBCTE .brains_val {
    grid-area: brains_val;
}

.GBCTE .muscles {
    grid-area: muscles;
}

.GBCTE .muscles_val {
    grid-area: muscles_val;
}

.GBCTE .moves {
    grid-area: moves;
}

.GBCTE .moves_val {
    grid-area: moves_val;
}

.GBCTE .cool {
    grid-area: cool;
}

.GBCTE .cool_val {
    grid-area: cool_val;
}

.GBCTE .line {
    grid-area: line;
    border-bottom: 5px solid var(--gb_border_color_2);
}

.GBCTE .power {
    grid-area: power;
}

.GBCTE .power_val {
    grid-area: power_val;
}

/********* ********************************************************\
*    T A L E N T S                                                                                                    *
\******************************************************************/

.GBCTE .talents {
    grid-area: talents;
    display: grid;
    justify-content: center;
    align-content: start;
    grid-template-columns: 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "talents_header"
        "talents_table";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.GBCTE .talents_header {
    grid-area: talents_header;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--gb_border_color_2);
}

.GBCTE .talents_table {
    grid-area: talents_table;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "brains_t brains_t_val"
        "muscles_t muscles_t_val"
        "moves_t moves_t_val"
        "cool_t cool_t_val"
        "line_t line_t"
        "lesser_t lesser_t_val"
        "greater_t greater_t_val";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.GBCTE .brains_t {
    grid-area: brains_t;
}

.GBCTE .brains_t_val {
    grid-area: brains_t_val;
}

.GBCTE .muscles_t {
    grid-area: muscles_t;
}

.GBCTE .muscles_t_val {
    grid-area: muscles_t_val;
}

.GBCTE .moves_t {
    grid-area: moves_t;
}

.GBCTE .moves_t_val {
    grid-area: moves_t_val;
}

.GBCTE .cool_t {
    grid-area: cool_t;
}

.GBCTE .cool_t_val {
    grid-area: cool_t_val;
}

.GBCTE .line_t {
    grid-area: line_t;
    border-bottom: 5px solid var(--gb_border_color_2);
}

.GBCTE .lesser_t {
    grid-area: lesser_t;
}

.GBCTE .lesser_t_val {
    grid-area: lesser_t_val;
}

