/* Ghostbusters CTE Ghost Sheet Classify CSS */
/* Version 2.0 */

/* This has been separated from the main CSS for readability / maintainability.
	It will need to be copied into the main CSS when used with sites like kanka.io */

.GBCTE .classify {
    grid-area: classify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
		"name goal"
        "mental structure"
        "species species"
        "classification description"
        "characteristic type"
        "tags tags";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    border-bottom: 5px solid var(--gb_border_color_1);
}

.GBCTE .name {
    grid-area: name;
}

.GBCTE .goal {
    grid-area: goal;
}

.GBCTE .species {
    grid-area: species;
}

.GBCTE .classification {
    grid-area: classification;
}

.GBCTE .description {
    grid-area:description;
}

.GBCTE .characteristic {
    grid-area: characteristic;
}

.GBCTE .type {
    grid-area: type;
}

.GBCTE .mental {
    grid-area: mental;
}

.GBCTE .structure {
    grid-area: structure;
}

.GBCTE .tags {
    grid-area: tags;
}

