/* Ghostbusters CTE NPC Sheet Classify CSS */
/* Version 2.0 */

/* This has been separated from the main CSS for readability / maintainability.
	It will need to be copied into the main CSS when used with sites like kanka.io */

.GBCTE .classify {
    grid-area: classify;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "col_left col_right";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    border-bottom: 5px solid var(--gb_border_color_1);
}


.GBCTE .col_left {
    grid-area: col_left;
}

.GBCTE .col_right {
    grid-area: col_right;
}
