/* Ghostbusters CTE Character Sheet CSS */
/* Version 0.1 */

/* Grid layout for character sheet*/
.item1 { grid-area: header; }
.item2 { grid-area: name; }
.item3 { grid-area: alias; }
.item4 { grid-area: traits; }
.item5 { grid-area: talents; }
.item6 { grid-area: goal; }
.item7 { grid-area: brownie_points; }
.item8 { grid-area: equipment; }

.grid_container {
    display: grid;
    grid-template-areas:
        'header header'
        'name alias'
        'traits talents'
        'goal goal'
        'brownie_points equipment';
    grid-gap: 0px;
    padding: 1px;
    margin: 0 auto;
    background: lightgray;
    background-image: url("http://i.imgur.com/nOk3zYE.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    color: black;
}

/* Text modifiers for use with <p> tags 'cuz i'm tired of dealing with inherited h-values...*/
.big {
    font-size: 2em;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}

.med {
    font-size: 1.5em;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.reg {
    font-size: 1em;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

.small {
    font-size: .5em;
    font-weight:200;
    padding: 0px;
    margin: 0px;
}

.blank_row {
    height: 1.5em !important;
}

/* Alignment classes. JIC */
.l {
    text-align: left;
}

.ml {
    tmargin-left: 0;
}

.r {
    text-align: right;
}

.c {
    text-align: center;
}

.label {
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.value {
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.underline {
    border-bottom: 2px solid black;
}

.grid_container .item1, .item4, .item5, .item7, .item8 {
    display: grid;
    align-items: center;
    justify-items: center;
    border-bottom: 5px solid black;
}

.grid_container .item2, .item3, .item6 {
    display: grid;
    justify-items: left;
    border-bottom: 5px solid black;
}

.fill_it {
    display: inline-block;
    width: 100%;
}

.heading_line {
    width: 50%;
    margin: auto;
    height:4px;
    border-width:0;
    padding: 0px;
    color:black;
    background-color:black;
}

.stat-table {
    margin: auto;
}

.underline {
    width: 100%;
    margin: auto;
    height:2px;
    border-width:0;
    padding: 0px;
    color:black;
    background-color:black;
}
    
.grid_container tbody, tr {
    width: 100%;
}

.grid_container td {
    margin: auto;
    padding: 3px;
}
