/* Ghostbusters CTE Character Sheet CSS */
/* Version 2.0 */

@import "header.css";
@import "identify.css";
@import "traits_n_talents.css";
@import "notes.css";
@import "brownie_points_n_equipment.css";


/* globals */
:root {
  --background_color: lightgray;
  --border_color_1: red;
  --border_color_2: black;
  --text_color_1: black;
  --label_text_color: white;
  --label_background_color: black;
  --value_text_color: black;
  --value_background_color: white;
}

/* Grid layout for character sheet*/

.GBCTE_CharSheet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "identify"
        "traits_n_talents"
        "brownie_points_n_equipment"
        "notes";
    grid-gap: 5px;
    max-width: 1000px;
    color: var(--text_color_first);
    padding: 2px;
    margin: 0 auto;
    background: lightgray;
    background-image: url("http://i.imgur.com/nOk3zYE.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.GBCTE_CharSheet  * {
    padding: 2px;
    margin: 0 0 0 0;
}

.GBCTE_CharSheet  h1, h2, h3, h4, h5, h6 {
    color: var(--text_color_1);
}

.GBCTE_CharSheet  hr {
    color:black;
    background-color:black;
}

.GBCTE_CharSheet  .line_label {
    color: var(--label_text_color);
    background: var(--label_background_color);
    float: left;
    border: 1px solid black;
    border-radius: 10px;
}

.GBCTE_CharSheet  .line_value {
    color: var(--value_text_color);
    background: var(--value_background_color);
    display: block;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}

.GBCTE_CharSheet  .my_label {
    color: var(--label_text_color);
    background: var(--label_background_color);
    border: 1px solid black;
    border-radius: 10px;
}

.GBCTE_CharSheet  .my_value {
    color: var(--value_text_color);
    background: var(--value_background_color);
    border: 1px solid black;
    border-radius: 10px;
}

.GBCTE_CharSheet  .l {
    text-align: left;
}

.GBCTE_CharSheet  .r {
    text-align: right;
}

.GBCTE_CharSheet  .c {
    text-align: center;
}