*, *::before, *::after {
	box-sizing: border-box;
}

caption h3 {
  margin: 1 1 1 1;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-top: 3px solid black;
}

p {
  margin: 0 0 0 0;
}

.traits p, .talents p {
  display: inline-block;
}

table th {
  border-bottom: 3px solid black;
}

td {
  text-align: center;
}


textarea {
	width: 100%;
	height: 15em;
  margin: 5px 5px 5px 5px;
}

/***
---------------- CLASSES -----------------
***/
.charsheet {
  width: 800px;
  margin: 0 auto;
  background-color: gray;
}

.abilities, .bp, .equipment, 
.extras, .notes, .talents, 
.traits, .weaknesses {
	float: left;
	width: 262px;
}

.ep {
  clear: both;
  float: left;
	width: 262px;
}

.isp, .pd {
	width: 524px;
	margin-bottom: 10px;
}

.lifestyle, .financial {
  float: left;
	width: 396px;
	margin-bottom: 10px;
}


.bp_label, .equipment_label, .extras_label, .header_label, .trait_label {
	display: inline-block;
	width: 7em;
	text-align: right;
}

.btn_spacer{
  display: inline-block;
  width: 25px;
}

.c {
	text-align: center;
	margin-left: auto;
  margin-right: auto;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.dbl_hr {
  height: 6px;
  border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.financial td {
  text-align: right;
}

.gear {
	font-size: 1.5em;
	margin-bottom: 5px;
	width: 10em;
}


.ghost-die {
	height: 25px;
	width: 25px;
	border-color: white;
}

.header {
	text-align: center;
	color: black;
}

.input_spacer{
  width: 40px;
}

.longnum {
	text-align: right;
}

.num_input_label {
  display: inline-block;
  text-align: center;
  width: 3em;
}  

.shortnum {
	text-align: center;
	width: 3em;
}

.talent_name {
	text-align: right;
  width: 121px;
}

.talent_spacer {
  text-align: center;
  width: 121px;
}

.trait_name {
	text-align: center;
}

.text_input_label {
  display: inline-block;
  text-align: center;
  width: 30en;
}

.sheet-row {
    text-align: center;
}

.sheet-category {
    font-weight: bold;
    font-size: 20px;
}

input.sheet-name {
    width: 80%;
}

input.sheet-talent {
    width: 125px;
}

hr.sheet-rule {
    border-color: #000000;
}

.sheet-colTNY {
    width: 4em;
    display: inline-block;
}

.sheet-colSM {
    width: 23%;
    display: inline-block;
}

.sheet-colMED {
    width: 31%;
    display: inline-block;
}

.sheet-colLRG {
    width: 48%;
    display: inline-block;
}

.sheet-colXLG {
    width: 78%;
    display: inline-block;
}

/* Main Sheet Tabs */
 div[class^="sheet-section"] {  
    display: none;
}

 input.sheet-tab1:checked ~ div.sheet-section-core,
 input.sheet-tab2:checked ~ div.sheet-section-ghost {
    display: block;
}

 input.sheet-tab99:checked ~ div[class^="sheet-section"] {  
    display: block;
}
 input.sheet-tab {
    width: 100px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    opacity: 0;
    z-index: 9999;
}
.numeric {
  width: 3em;
}

 span.sheet-tab {
    text-align: center;
    display: inline-block;   
    font-size: 13px;    
    background: #dcdcdc; 
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 20px;
    cursor: pointer;    
    position: relative;
    margin-left: -91px;
    border-bottom-color: #fff;
}

 input.sheet-tab1:checked + span.sheet-tab1,
 input.sheet-tab2:checked + span.sheet-tab2 {
    background: #ff9999;
    border-radius: 4px;
}

/***
------ ROLL TEMPLATE & ROLL BUTTON -------
***/

button[type=action].sheet-d6{	/*changes die roller icon to d6*/
	height: 25px;
	width: 25px;
	border-color: white;
	background-image: url(https://i.imgur.com/BhYDjpj.png);
	background-size: contain;
	background-repeat: no-repeat;
}

button[type=action].sheet-ghostdie{	/*changes die roller icon to GB symbol*/
	height: 25px;
	width: 27px;
	border-color: white;
	background-image: url(https://i.imgur.com/9v0MQRd.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.sheet-rolltemplate-gbcte {
	width: 200px;
	height: 230px;
	color: #000000;
	background: url("https://i.imgur.com/nnyLjww.png") no-repeat;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 35px 1fr 1fr 2fr 2fr;
	grid-template-areas:
		"spacer"
		"heading"
		"regular"
		"ghost"
		"total";
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
}

.sheet-rolltemplate-ghostdie {
	width: 200px;
	height: 230px;
	color: #000000;
	background: url("https://i.imgur.com/nnyLjww.png") no-repeat;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 35px 1fr 5fr;
	grid-template-areas:
		"spacer"
		"heading"
		"ghost";
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
}

.sheet-rolltemplate-d6 {
	width: 200px;
	height: 230px;
	color: #000000;
	background: url("https://i.imgur.com/nnyLjww.png") no-repeat;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 35px 1fr 5fr;
	grid-template-areas:
		"spacer"
		"heading"
		"ghost";
	grid-gap: 5px;
	justify-items: center;
	align-items: center;
}

.sheet-rolltemplate-d6 img {
	height: 50px;
	width: 54px;
	border-color: white;
}

.sheet-rolltemplate-gbcte *,
.sheet-rolltemplate-d6 {
	margin-top: 1px;
	margin-bottom: 1px;
}

.spacer {
	grid-area: spacer;
}

.heading {
	grid-area: heading;
	width: 95%;
	border-bottom: 2px solid black !important;
}

.regular {
	grid-area: regular;
	width: 95%;
}

.ghost {
	grid-area: ghost;
	width: 95%;
}

.total {
	grid-area: total;
	width: 95%;
}

.sheet-rolltemplate-darkmode .inlinerollresult {
	color: black !important;
	background-color: white !important;
	border: 2px solid black !important;
}

.sheet-rolltemplate-darkmode * {
	color: black !important;
}

.sheet-rolltemplate-darkmode .sheet-heading {
	border-bottom: 2px solid black !important;
}